body {
    margin: 0;
    height: 100vh;
    background-image: url('/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.principal{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.centro{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15 20px;
    border-radius: 10px;
    margin-top: 100px;
}
select{
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #aaa;
    min-width: 160px;
    background-color: #fff;
    color: activeborder;
    margin-top: 80px;
}
.Sharizard{
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
}

.card{
    background-color: #f4f4f4;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /*background: linear-gradient(179deg,rgba(26, 185, 199, 1) 0%, rgba(143, 227, 104, 1) 63%);*/
    background: linear-gradient(179deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%);



}

.card:hover{
    transform: scale(1.05);
    transition: all 0.3 esse;
}

.card img {
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.volver {
    text-align: center;
    margin-top: 30px;
}

.volver a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.pokemon-animado {
  animation: ondear 6s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes ondear {
  0% {
    transform: translateX(0) translateY(0) skewY(0deg);
  }

  15% {
    transform: translateX(10px) translateY(3px) skewY(3deg);
  }

  30% {
    transform: translateX(-5px) translateY(5px) skewY(6deg);
  }

  45% {
    transform: translateX(0) translateY(0) skewY(0deg);
  }

  60% {
    transform: translateX(5px) translateY(-3px) skewY(-3deg);
  }

  75% {
    transform: translateX(-8px) translateY(2px) skewY(4deg);
  }

  90% {
    transform: translateX(0) translateY(0) skewY(0deg);
  }

  100% {
    transform: translateX(0) translateY(0) skewY(0deg);
  }
}