<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
      layout:decorate = ~{layout}>


    <body >
        <div layout:fragment = "content">
            <div class="principal">
                <div class="centro">
                    <form>
                        <select name="tipo" id="tipo"  onchange="redirigirPorTipo()" class="form-select">
                            <option id="select" class= "text-capitalize" value="">Selecciona un tipo de pokemon</option>
                            <option  class= "text-capitalize" th:each="tipo, iterStat : ${tipos}" th:value="${iterStat.index + 1}" th:text="${tipo.name}"></option>
                        </select>  
                    </form>    
                    <img th:src="@{shari.png}" alt="Sharizard" class="Sharizard">

                </div>
            </div>
        </div>
    </body>
</html>

<script>
    function redirigirPorTipo() {
        const select = document.getElementById("tipo");
        const id = select.value;
        if (id) {
            window.location.href = "/Pokemones/tipo/" + id;
        }
    }
</script>
