<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
      layout:decorate = ~{layout}>

    <body>
        <div layout:fragment = "content">
            <div class="grid">
                <div class="card" th:each="p : ${pokemones}">
                    <img th:src="${p.imagen}" th:alt="${p.nombre}" />
                    <h3 class= "text-capitalize" th:text="${p.nombre}">Nombre</h3>
                    <p>HP: <span th:text="${p.hp}">0</span></p>
                    <p>Ataque: <span th:text="${p.ataque}">0</span></p>
                    <p>Defensa: <span th:text="${p.defensa}">0</span></p>
                    <button>Detalles</button>
                </div>
            </div>   
            <div class="paginacion" style="text-align: center; margin-top: 30px;">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{'/Pokemones/tipo/' + ${tipoId} + '?page=' + ${currentPage - 1} }">Anterior</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" 
                           th:href="@{'/Pokemones/tipo/' + ${tipoId} + '?page=' + ${i}}" 
                           th:text="${i}">1</a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{'/Pokemones/tipo/' + ${tipoId} + '?page=' + ${currentPage + 1}}">Siguiente</a>
                    </li>
                </ul>
            </div>
        </div>





    </body>
</html>