<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
      layout:decorate = ~{layout}>

    <body>
        <div classlayout:fragment="content">
            <div class="book">
                <p class="text">Hello</p>
                <div class="inner">
                    <p class="text">World</p>
                </div>
                <div class="cover">
                    <p class="text">Hover Me</p>
                </div>
            </div>
        </div>
    </body>
</html>
